html {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
  font:inherit;
  text-align: center;
  color-scheme: dark
}

nav {
	--border-color: oklch(50% 10% 200 / 40%);
	/* ... other styles and nested rules ... */
}

image {
  max-width: 100%
}

h1 {
  font-size: 400%;
}

.resume {
  .chunk {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
  }

  a {
    text-decoration: underline;
  }

  h3 {
    color: rgb(35, 53, 115);
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  article {
    margin: 10px;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 20px;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
label {
  display: grid;
  grid-template-columns: subgrid;
}
button {
  grid-column: 1 / -1;
}

nav {
  display: flex;
  margin-bottom: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* border-bottom-color: oklch(80% 3% 200); */
  border-bottom-color: var(--border-color);
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  padding-bottom: 0.1em;
}

.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-flex;
  gap: 4px;
}